[2011-05-16 14:23] walkermatt opened #1 "Temp directory must include a trailing slash in config"
In the config file the value of tmp_dir must contain a trailing slash otherwise the transalation fails as an incorrect path is passed to ogr2ogr.

[2011-06-06 17:14] #1 closed, assigned to walkermatt

[2012-03-21 11:41] SteveEvans opened #4 "Thanks, but having problems running this"
Hi,

Thanks for sharing these scripts which look like they will be a great help.

I'm hitting problems testing this out. I'm trying to use the OS sample data from their website (Exeter) and to test it on the AddressBase sample (http://www.ordnancesurvey.co.uk/docs/sample-data/address-base-premium-gml/SX9090.zip). I have unzipped the file, so it is SX9090.gml that Loader will find in the input dire

[2012-04-02 09:45] #4 closed, assigned to nobody

[2012-05-31 15:09] mtravis opened #5 "Having issues with loader.py"
Really keen to give this a go and been testing it out by trying to load addressbase plus gml into a postrgesql database.

I've downloaded all the necessary and changed the loader.config so its as such:

---
# The directory containing your source files.
# All supported files in the specified directory and
# it's decendents will be loaded.

src_dir=C:\GML_Loader\data\import
# The directory used to s

[2012-08-01 16:47] mtravis opened #6 "Problem with Loader (human error me thinks)"
Hi Matt,

The loader is working brilliantly at work but having problem with my home version now.

I get this error message:

C:\Loader\python>C:\python27\python loader.py loader.config
Traceback (most recent call last):
  File "loader.py", line 218, in <module>
    main()
  File "loader.py", line 198, in main
    config.append([parts[0], os.path.expandvars(parts[1])])
IndexError: list index out of

[2012-08-12 12:17] #6 closed, assigned to nobody

[2012-08-12 12:18] #5 closed, assigned to walkermatt

[2013-01-29 13:10] mtravis opened #7 "Proxy stopping access to easy install"
Hi Matt

Yesterday I was trying to run loader via a colleague's PC and ran into a problem. We tried to run loader from OSgeo4w shell and it said lxml wasn't installed on his machine. When i went back over the installation notes i saw that you've changed them to bring in lxml using easy_install instead -  which is great btw.

However when we downloaded the script and ran it we found our (poxy) prox

[2013-04-05 07:04] #7 closed, assigned to nobody

[2013-04-08 17:38] mtravis opened #8 "Loader on Linux"
Hi Matt

I'm testing loader on Linux mint 14 and I've hit a snag.

I installed lxml via easy_install and I've extracted loader into my home area and then open a shell and run

[code]

When I've run this with debug set to true I get the following back:

 Config: {'tmp_dir': '/home/matt/loader/data/temp/', 'out_dir': '/home/matt/loader/data/export/', 'gfs_file': '../gfs/osmm_topo_postgres.gfs', 'ogr

[2013-04-24 14:57] ClementD opened #9 "lxlm on windows"
Hello,

i try to install lxml following the wiki / installation page (https://github.com/AstunTechnology/Loader/wiki/Installation).

When i launch the step 3.5 (To install lxml with easy_install run easy_install lxml==2.3) i've got this error:

  error: MD5 validation failed for lxml-2.3-py2.7-win32.egg: possible download problem?
![image](https://f.cloud.github.com/assets/4246500/420438/2bc55926-

[2013-05-12 15:03] #8 closed, assigned to walkermatt

[2013-07-02 10:11] archaeogeek opened #10 "Problems with non-standard data encoding"
Loader croaks on Mastermap data (eg Welsh) that contains non-standard characters. Example error:

D:\Astun\Tools\Loader-master\python>C:\Python32\python.exe loader.py loader.conf
ig
Processing: E:\iShareData\DCC\Maps\Base\OS\Mastermap\trial\5335160-SH6177-2c464.
gz
Traceback (most recent call last):
  File "prepgml4ogr.py", line 170, in <module>
    main()
  File "prepgml4ogr.py", line 153, in mai

[2013-07-10 10:27] #10 closed, assigned to walkermatt

[2013-08-28 11:02] Stevec81 opened #11 "Import issues when using Loader"
Hi

I've been trying to run the loader for both OSM and ITN data but I'm not sure it's doing anything. I've attached a text file with some of the information I get given. It say that it is loading the files, but I can't see that it has done anything in my database. Also I have extracted all of the GML files from the .gzip folders as I think this is the cause of the first error.. Any help would be

[2013-08-28 14:38] #11 closed, assigned to walkermatt

[2013-11-13 15:31] walkermatt opened #14 "OGR fails to load OSMM TopoLine LINESTRING features when constraint is MULTILINESTRING"
When running Loader on Windows 2008 with OGR 1.8, PostgreSQL 9.0 and PostGIS 1.5 OGR fails to load OSMM TopoLine LINESTRING features when the geometry type (and hence the constraint against the table) is set to MULTILINESTRING.

![topoarea-violates-geotype](https://f.cloud.github.com/assets/600349/1532503/9d9941ba-4c78-11e3-8852-e1776b216791.png)

[2013-11-13 15:53] #14 closed, assigned to walkermatt

[2014-01-20 12:59] #9 closed, assigned to walkermatt

[2014-01-20 13:10] walkermatt opened #15 "Dollar sign in ogr_cmd causes substitute"
Loader converts several of the config values into [Python string templates](http://docs.python.org/2/library/string.html#template-strings) in order to substitute tokens such as `$file_path` at runtime. A literal dollar signs trips up `substitute` as it should be escaped with another dollar sign. For example the following ogr_cmd where the password is `foo$` fails:

[code]

Escaping the dollar sign

[2014-01-20 15:21] #15 closed, assigned to walkermatt

[2014-01-29 09:56] Chobhamonian opened #16 "Loader generating error"
Whilst running Loader it's generating an ImportError: DLL load failed: %1 is not a valid Win32 application.

I'm trying to run loader on a Windows 8 x64 machine which has been successful in the past but which is now generating these errors.

![loader_error](https://f.cloud.github.com/assets/2750714/2028274/38c4fba0-88cb-11e3-8d85-5faf511b1361.jpg)

[2014-03-08 11:29] #16 closed, assigned to nobody

[2014-06-10 15:22] ghost opened #18 "Loader Error - vmd"
Sorry, I'm an ultra novice when it comes to python.

I'm trying to load vmd and I'm getting the following output:

![loader](https://cloud.githubusercontent.com/assets/7850344/3232135/8096f8ea-f0b1-11e3-8d35-50e5ae7c5b1d.png)

I'm using Python 2.7.5+

[2014-06-10 20:17] #18 closed, assigned to walkermatt

[2014-07-04 11:11] walkermatt opened #21 "AddressBase Premium tables missing language field"
@andynberry has been doing some testing loading AddressBase Premium into Postgres and noticed that the `landpropertyidentifier` and `streetdescriptiveidentifier` tables are missing a language field. In the test data around Wrexham there are a number of cases where the `landpropertyidentifier` and `streetdescriptiveidentifier` tables two rows for a given identifier one in English, the other Welsh.

[2014-07-04 11:27] #21 closed, assigned to walkermatt

[2014-11-19 11:38] dmac707 opened #23 "WindowsError: [Error 2] The system cannot find the file specified on Post_Cmd"
Hello Astun,

I am trying to load an extract from Addressbase Premium into my local PostGis but have hit a wall. I ran it in debug mode and it appears to be crashing out at the post_command stage. It processes the GML and creates a .sql file in the out folder (although this is just says BEGIN COMMIT 5 times). The file paths in the post command look wrong so I hard coded them in the config file but

[2014-11-25 13:33] walkermatt opened #24 "Remove concatenated fields from gfs/osmm_topo_postgres.gfs"
Currently `gfs/osmm_topo_postgres.gfs` includes comma separated versions of the `theme`, `descriptivegroup` and `descriptiveterm` columns which can have multiple values held in an array.

I feel that the comma separated versions can be removed from the GFS to reduce duplication. If a user requires the comma separated version they can easily create them via a view and [`array_to_string`](http://www

[2014-11-25 18:56] TimJMartin opened #25 "MultiLineString - LineString"
Hi Matt

Having done some tests over the last few days I believe the geometry definition for the topographicline table should be LINESTRING

https://github.com/AstunTechnology/Loader/blob/master/extras/ordnancesurvey/osmm/topo/pgdump/create-tables.sql

When I used your version of create-tables.sql, loader through an error

Cheers

Tim

[2014-12-13 20:43] #24 closed, assigned to nobody

[2015-01-05 16:59] walkermatt commented on #23
@dmac707 I think the issue here is that forward slashed in the `post_cmd` are being interpreted by  as switches (options). You're going to have to experiment with the path seperator. Maybe try using `\\` as the path seperator for all paths in which case your `prep_cmd` would probably look like this:

`cmd.exe /c 'set PGPASSWORD=***************** psql -h localhost -U postgres -d LocalPostGis -f $ou

[2015-01-08 15:28] dmac707 commented on #23
@walkermatt I have loaded the data using ``PostgreSQL`` option. I am happy to lay this issue to rest.

[2015-01-08 19:37] walkermatt commented on #23
@dmac707 thanks for letting me know, glad you got the data loaded :smile:

[2015-01-08 19:37] #23 closed

[2015-01-19 10:32] ibennett opened #26 "Incomplete grade separation data"
When using the latest gfs file for ITN into PostGreSQL I was expecting to see the values for fid='osgb4000000023329254' it should return the following <osgb:directedNode orientation='-' gradeSeparation='1' xlink:href='#osgb4000000023150963'/>

However in the data base only the directed node orientation is popoluated with 0,1 and the gradeseparation and href values are both blank.

[2015-01-20 06:46] walkermatt opened #27 "Unbalanced `directedNode_gradeSeparation` for some `roadlink` features"
Each `roadlink` has two `directedNode` references, one for the start of the link and another for the end. The following attributes are attached to a `directedNode`:

name            | desc                                                                          | optional
--------------- | ----------------------------------------------------------------------------- | --------
href            | Th

[2015-01-20 06:51] walkermatt commented on #26
@ibennett that's interesting I'm getting the following record in the `roadlink` table which includes all `directednode` values that are present in the source data:

    -[ RECORD 1 ]-------------------+-------------------------------------------------------------------------------------------
    ogc_fid                         | 28207
    wkb_geometry                    | 0102000020346C0000020000

[2015-01-20 13:59] walkermatt commented on #25
Leaving as `MULTILINESTRING` following discussion with @TimJMartin

[2015-01-20 13:59] #25 closed

[2015-01-20 16:53] #27 closed

[2015-02-06 12:56] archaeogeek opened #28 "Include a changelog file"
Doesn't need to be hugely detailed, just something that makes it easy for people to make sure they have the latest version

[2015-02-11 10:16] ramotswa opened #29 "which loader.config to use"
Hi,
I'm trying to load some addressbase premium. so I've seen the 'extras' folder which contains addressbase premium stuff, including sql view creation scripts. I presume these need to be run first? before doing the loader.py?
then in the pgdump folder (in /extras/ordnancesurvey/addressbase/premium/) there is another loader.config table and also some create-index and table .sql files.. bit confuse

[2015-02-11 10:43] walkermatt commented on #29
@ramotswa all of the config files in the repo are examples. Have you seen the following: https://github.com/AstunTechnology/Loader/wiki/Configuration-examples#addressbase-premium-to-postgresqlpostgis?

The AddressBase Premium content under `extras/ordnancesurvey/addressbase/premium/pgdump` is for bulk loading via PGDump and requires that you create the tables prior to load and indexes after.

You

[2015-02-24 14:30] walkermatt commented on #26
@ibennett Hi, can you confirm if this is now resolved and can be closed?

[2015-02-24 14:31] walkermatt commented on #29
@ramotswa just wondering if this can now be closed?

[2015-02-24 14:33] ramotswa commented on #29
hi @walkermatt - yes sorry. Although I didn't manage to get it working I don't think it's a problem on your side.. more user error. Thanks for the pointers.

[2015-02-24 14:33] #29 closed

[2015-03-18 10:21] ramotswa opened #31 "Resume on crash ability / keep track of progress"
This is probably more a feature request than anything else;

It would be great to be able to pick up from where the loader left off in the case of a server disconnect / crash etc. I guess if the .sql files don't get deleted you could do an if exists on those, or keep track of what is being processed in a txt file...
Biggest issue I can see is that the subprocesses that are being called can't reall

[2015-03-18 10:21] ramotswa opened #32 "Update data for OSMM (like VML)"
Presumably the way VML is updated would work for OSMM too? Would it just be the case of updating the sql scripts to match the OSMM tables?

[2015-03-18 12:48] walkermatt commented on #32
Unfortunatly not, updates to VML are supplied at the tile level meaning that we simply load the new data then replace all features in the current holding that belong to the superseeded tiles with the new.

OSMM is supplied as change only updates (COU) which is a little more complicated as you have some new features, some updated and some departed. The logic is not that involved but I'm yet to impl

[2015-04-07 13:34] ramotswa opened #33 "Verification of loaded data"
Hey @walkermatt ,

I was wondering - how do you verify that all the data you have asked to be loaded has actually been loaded (with regards to OSMM topo)? Do you go by row count somehow?
I am just playing with the idea of creating some sort of verification strategy which involves extracting all the FIDS from the .gz files from the OS, and then checking if they exist in the database.

Coming up aga

[2015-04-07 16:01] walkermatt commented on #33
Hi Toby,

I usually count each feature type (table) per source file. I use SQL create a table containing the count of features in each database table grouped on the `filename` column. I then use `ogrinfo` to get a count for each feature type in each source file; which I then load as a table in the database so I can perform a join to identify any differences. The `filename` column makes it easy to

[2015-04-08 08:35] ramotswa commented on #33
Hi Matt,
The filename column is indeed very handy - thanks very much for pointing that out. I've written a quick python script to count the features in each gz file and turn them into a sql insert script which I can now compare with db count.

[2015-04-08 08:35] #33 closed

[2015-04-08 12:51] ramotswa commented on #32
Hi, just FYI - I just got a refresh from MasterMap - and they are now delivering them in 5k gml files (i.e. one gml file per 5k square.) Personally very handy as I can load specific areas to test. And might make COU a bit easier..

[2015-06-02 21:11] JamesGardiner opened #37 "openmap.gfs shortened name values cause issues with OS Stylesheets"
Hi, I've been using the Loader to get OS OpenMap - Local data into a PostGIS extended database. All works fine, but when applying the [OS Stylesheets] (http://www.ordnancesurvey.co.uk/business-and-government/help-and-support/products/os-open-map-local.html) in QGIS, certain styles fail to be applied.

The issue relates to shortened <PropertyDefn> <name> values in the openmap.gfs file, such as dist

[2015-06-03 07:12] walkermatt commented on #37
Hi James,

I think the reason is that only the Shape style files where available when I last looked at OS OpenMap during the beta period hence the truncated column names. If you have an updated gfs could you submit a pull request?

Cheers,

Matt.

[2015-06-03 14:04] ramotswa opened #39 "OSMM create_tables script issues"
Hi Matt,

Kind of just FYI.

Been using the loader for OSMM to use with Geoserver - I have found that using your existing scripts to create the tables (Loader/extras/ordnancesurvey/osmm/topo/pgdump/create-tables.sql) has issues because of the "character varying []" for various fields. Geoserver (2.6.1) doesn't seem to like these so doesn't bring them through (confirmed by the geoserver mail list),

[2015-06-03 14:43] walkermatt commented on #39
What I've generally done is either to create views in the database or [GeoServer SQL View layers](http://docs.geoserver.org/stable/en/user/data/database/sqlview.html) which only include the required columns and joins the array fields into plain character columns:

    SELECT
    ...
    array_to_string(descriptivegroup, ', ') as descriptivegroup,
    array_to_string(descriptiveterm, ', ') as descr

[2015-06-03 20:02] #37 closed

[2015-06-13 13:59] #26 closed

[2015-07-02 14:51] ramotswa commented on #39
Thanks Matt.

[2015-07-02 14:51] #39 closed

[2015-07-13 11:50] imjones77 opened #42 "OSMM Sites into Shape"
Hi guys,

I want to have a look at some OS MM Sites data I downloaded (gz files) but it looks like I can only use the osmm_sites_postgres.gfs file as being specific to translating Sites data but I would prefer to translate into Shape files. Is that possible with Loader as things stand? Some screen-shot info:

AttributeError: 'module' object has no attribute 'osmm_sites_postgres'
Processing: X:\Too

[2015-07-13 12:04] walkermatt commented on #42
@imjones77 Hi, can you post the contents of your config file (make sure you redact any passwords if it contains any).

[2015-07-13 12:22] imjones77 commented on #42
Hi Matt,

The 'prep.vml' ending on:
prep_cmd=C:\Loader-master\python\python prepgml4ogr.py $file_path prep_osgml.prep_vml

seems a bit misleading and I had replaced it but since reinstating it, I have got some meaningful output in 3 Shape files!

Just to check everything, here is the full config file:

# Note: Environment variables can be used with any of
#       the options by using a token of th

[2015-07-13 12:39] walkermatt commented on #42
Can you try updating your config in line with: https://github.com/AstunTechnology/Loader/wiki/Configuration-examples#os-mastermap-sites-layer-to-postgresqlpostgis.

[2015-07-13 13:39] imjones77 commented on #42
Thanks Matt, the attributes are a bit better now - more populated. It's been about a while since I visited the Loader site and it has come on a lot with the different types of data that can be translated now. I may well come back for other new OS datasets!

[2015-07-13 16:11] #42 closed

[2015-10-08 15:36] metazool opened #43 "handling of Change-Only Updates?"
One reason to use the proprietary alternatives to this package is their handling of the Change-Only Updates that OS distribute as GML.

Does the Astun Loader handle the COUs and/or are there plans to?

[2015-10-08 18:58] walkermatt commented on #43
Hi @metazool, long time no speak! There is no support for OSMM Topo CoU at the moment. @aileenheal has been experimenting recently to streamline the update of our mapping services, we might have some news on progress in the next few weeks.

[2015-11-11 13:10] ramotswa opened #44 "PGDump and USE COPY"
Hi Matt,
Not an issue more a query if I may.

I don't know when - but the ogr2ogr command has changed since I grabbed the repo initially. You are no longer using the -f PGDump and PG_USE_COPY options in the latest ones. I was just wondering why you changed that? From the note in your initial .config file it sounded like the performance of copy would be better than insert.. has that changed with mo

[2015-11-11 20:32] walkermatt commented on #44
Hi Toby,

Are you maybe thinking of the config under [extras/ordnancesurvey/osmm/topo/pgdump](https://github.com/AstunTechnology/Loader/tree/master/extras/ordnancesurvey/osmm/topo/pgdump)?

Cheers,

Matt.

[2015-11-14 12:58] ramotswa commented on #44
Hmmm. maybe.
As you were. :)
Toby

[2015-11-14 12:58] #44 closed

[2016-10-11 15:24] rfromthecastle opened #45 "Loading OS ITN GML files to SQL Server database"
Hello,

I was wondering if you had a configuration file/example available to load Ordnance Survey ITN data in GML format into a SQL Server database.

[2016-10-11 16:14] walkermatt commented on #45
Hi, I don't know of anyone that has used Loader to load ITN into MS SQL Server but it should be possible.

I would of thought that you would be able to use [osmm_itn_postgres.gfs](https://github.com/AstunTechnology/Loader/blob/master/gfs/osmm_itn_postgres.gfs) to define the output tables with little or no modification.

You would also need a suitable MS SQL Server `ogr_cmd` in your configuration.

[2016-11-01 11:35] cartochris opened #46 "WindowsError: [Error 2] The system cannot find the file specified"
I have managed to use Loader in the past without any issues, but after trying to process some ITN data I have come across the below error message.

I do not know what this issue would relate to - as far as I am aware the python path has not changed on my machine so I am a bit stuck on how to go about resolving the issue! Does the message indicate any specific problems I would need to check?

Thank

[2016-11-01 11:45] walkermatt commented on #46
Hi @cartochris, it looks as though `ogr2ogr.exe` can't be found either in the path or if you specified a full path your config that path is incorrect.

[2016-11-01 12:06] cartochris commented on #46
@walkermatt thanks, I tried to specify the path to the ogr2ogr application in the loader.config file (ogr_cmd=C:\Program Files\QGIS 2.18\bin\ogr2ogr.exe --config GML_EXPOSE_FID NO -append -skipfailures -f PostgreSQL PG:'dbname=routing active_schema=osmm_itn host=rbcgis user=postgres password=magnacarta' $file_path) but it has resulted in a similar message....

Loading: X:\FunGis\Workspaces\Team\OS

[2016-11-01 12:10] cartochris commented on #46
@walkermatt ignore me, I just realised I had to change my gdal environment variable as I was pointing to an old version of QGIS that I had uninstalled! Sorry!

[2016-11-01 12:10] #46 closed

[2016-12-21 16:06] walkermatt opened #47 "OSMM Topo v9 Schema changes"
Ordnance Survey GB are updating OSMM Topography Layer early 2017 which includes changes to descriptive group and term values together with how the data is delivered. See [Schema 9 and OS data fulfilment](https://www.ordnancesurvey.co.uk/business-and-government/help-and-support/products/schema-9-os-data-fulfilment.html) for further details.

Loader doesn't require any changes in order to load v9 da

[2016-12-21 16:24] walkermatt commented on #47
Work to add `style_code` and `style_description` columns and associated values during data load can be found in the [osmm_topo_v9 branch](https://github.com/AstunTechnology/Loader/tree/osmm_topo_v9).

I'm currently thinking that the additional columns / derived values required for styling Cartographic Text in QGIS and GeoServer would be best added via a view in Postgres.

Testers and thoughts welc

[2016-12-26 09:56] walkermatt commented on #47
[Latest commit to osmm_topo_v9 branch populates additional style columns for Cartographic Text](https://github.com/AstunTechnology/Loader/commit/c267c376d6d77d3b6103091a2042cce7f7ec9fe1) which means there is no need to run the SQL scripts following load in order to style the data in GeoServer with the OS SLDs (not tested with QGIS yet)

[2017-02-22 12:27] metazool commented on #43
Any latest updates on this? :)

[2017-03-15 17:21] walkermatt commented on #47
These changes have now been merged into master in #48

[2017-03-15 17:21] #47 closed

[2017-04-05 11:28] walkermatt commented on #43
Hi @metazool good to hear from you. We do have something working in-house based on Postgres but we're not currently in a position to release it at the moment.

[2017-05-02 08:39] GeoWill opened #49 "Addressbase Premium - Loading values in degrees"
Hi there,

I'm loading Addressbase premium into postGIS. The loader seems to be working fine, and I can view the data in QGIS.
However if I query the wkb_geometry columns with the ST_AsEWKT() function I get returns such as:
SRID=27700;POINT(-4.223... 55.859...)
This appears to be values in degrees rather than metres as I'd expect for British National Grid.
I assume these values are in EPSG:4258 as

[2017-05-02 09:09] walkermatt commented on #49
That does look odd, the SRS is set via [`gfs/addressbase_premium_postgres.gfs`](https://github.com/AstunTechnology/Loader/blob/master/gfs/addressbase_premium_postgres.gfs) which specifies EPSG:27700. Is the data displaying in EPSG:27700 within QGIS and what does `geometry_columns` say in PostGIS?

[2017-05-02 09:29] GeoWill commented on #49
Thanks for the quick response.
When to mention the `geometry_columns` is that the 'wkb_geometry' column? data type for those is (Point,27700).
In QGIS the CRS is defined as 27700 in the bottom right corner, and in the layer properties. However int he Coordinate box it is showing degrees as well.
I used 'gfs/addressbase_premium_postgres.gfs' in the config file.

[2017-05-02 09:36] GeoWill commented on #49
Sorry, not paying attention re. `geography_columns`.
`geography_columns` vies is empty I think.
`geometry_columns` has SRID integer set to 27700.

[2017-05-02 20:03] walkermatt commented on #49
Everything seems to suggest that the SRS is correct, do the points appear in the correct location relative to some other reference data that's in BNG when displayed in QGIS? Could you try inspecting the geometry in PostGIS with [ST_AsGML](http://postgis.net/docs/manual-2.3/ST_AsGML.html) or ST_X/ ST_Y?

[2017-05-03 07:53] GeoWill commented on #49
So it seems that the SRS is 27700, but the co-ordinates stored are the degrees values, but it is treating them as metres.
* In QGIS:
  * ESPG is 27700
  * Addressbase points are at away down by the origin i.e. the x/y values are being interpreted as if they're in metres
* ST_AsGML
  * `<gml:Point srsName="EPSG:27700"><gml:coordinates>-4.762053,55.944662000000001</gml:coordinates></gml:Point>`
* ST

[2017-05-03 13:22] GeoWill commented on #49
Quick update.
I ran:
`SELECT UpdateGeometrySRID('addressbase_premium','basiclandpropertyunit','wkb_geometry',4258);`
And then reran my queries with `ST_Transform(geom,27700)` and am getting usable results - I was after `ST_DWithin` and `ST_Distance` and metre level precision not needed.
However it would still be nice to resolve why the coordinate values and the SRS were mixed up.

[2017-07-06 11:36] thomparker opened #50 "AddressBase Premium classification format"
Hi Matt,

Loading AddressBase generates a lot of warnings about Classification.schemeVersion being the wrong format. It appears to be supplied in decimal format eg "1.0" Therefore should the gfs file be changed to:

[code]

to accommodate this?

Thanks
Tom

[2017-07-07 16:39] walkermatt commented on #49
I'm planning on looking at this and #50 next week.

[2017-07-10 11:29] walkermatt commented on #50
Thanks Tom. I've been able to reproduce, fixed in 3af4d0c39852333dbb3c5623814f79b2f0f2057a.

[2017-07-10 11:29] #50 closed

[2017-07-10 11:34] walkermatt commented on #49
I've been able to reproduce using the latest sample data. I think the issue was that OGR uses the last geometry it encounters for a feature unless it's told explicitly which element to use. The AddressBase GML now comes with two geometries, one in British National Grid, the other in WGS84. I've updated the `.gfs` files to specify the British National Grid geometry and I'm now seeing points in BNG

[2017-07-10 11:34] #49 closed

[2017-07-10 13:22] walkermatt commented on #28
It's taken a while but Loader now has a [CHANGELOG](https://github.com/AstunTechnology/Loader/blob/master/CHANGELOG.md)!

[2017-07-10 13:22] #28 closed

[2017-07-10 13:44] GeoWill commented on #49
Great, thank you!

[2017-08-10 14:41] fbonzon opened #53 "Compatibility with Python 3"
See https://github.com/AstunTechnology/Loader/pull/56

The Readme file says the code is compatible with Python 3, but is actually not.

[2017-08-30 18:57] #32 closed

[2017-11-30 23:08] #53 closed

[2017-12-15 14:34] walkermatt opened #60 "Support for OSMM Highways Network"
This issue is to track progress on adding support for OSMM Highways Network.

WIP config notes can be found on the wiki: [Ordnance Survey OSMM Highways Network to PostgreSQL/PostGIS](https://github.com/AstunTechnology/Loader/wiki/Configuration-examples#ordnance-survey-osmm-highways-network-to-postgresqlpostgis).

Note: 016624f or later is currently required.

/cc @archaeogeek

[2017-12-15 17:28] archaeogeek commented on #60
I think we can generate a more complete gfs by including the configuration parameter GML_ATTRIBUTES_TO_OGR_FIELDS YES in the ogrinfo command that we're using to generate it.

cf the results of:

`ogrinfo --config GML_ATTRIBUTES_TO_OGR_FIELDS YES -ro -so -al Highways_Rrami_RoadLink_INITIAL_001.gml
`

with:

`ogrinfo -ro -so -al Highways_Rrami_RoadLink_INITIAL_001.gml
`

The former adds the followin

[2018-01-22 16:37] walkermatt commented on #60
To have ogrinfo create a set of gfs files try:

    # Extract gml files
    find -type f -iname '*.gz' -exec gunzip --force --keep '{}' \;

    # Update gml so ogr can read it
    find -type f -iname '*.gml' -exec sed -i -e 's/os:Transaction/os:FeatureCollection/' -e 's/os:insert/os:featureMember/' '{}' \;

    # Have ogr create default .gfs files for each gml
    find -type f -iname '*.gml' -exec

[2018-08-16 15:12] samfranklin opened #62 "gml to gpkg out file name issue?"
Hi. Quick query on using loader to write from OS MM Topo (GML) to a geopackage, specifically using the out_dir variable.

I'm on:
ubuntu=16.04
python=2.7.12 (default, Dec  4 2017, 14:50:18)
gdal=2.1.3
lxml=4.2.4
loader=pulled down yesterday (2018-08-16), so assume latest?

Here's my config:
[code]

I see the warning (see last line of the code block) when I run this config
[code]

It's a simple iss

[2018-08-16 18:58] walkermatt commented on #62
The issue you're getting using `$out_dir` in the `ogr_cmd` is easy to fix but a bit annoying! For no good reason I can remember you need to use `$output_dir` and not `$out_dir`. I think we should allow both in future as I had to look it up in the source code.

I think `Warning 1: The '' extension is not allowed by the GPKG specification, which may cause compatibility problems` is a separate issue.

[2018-08-17 13:39] samfranklin commented on #62
Hey @walkermatt - I those suggestions worked, thanks!
Ooh Pull Request ,that's exciting! So just to confirm (for the uninitiated), the only file that should change in my pull request is the new `gfs/osmm_topo_gpkg.gfs` that now includes the `string` tag, correct?

[2018-08-18 06:37] walkermatt commented on #62
That sounds good. An OSMM Topo to GPKG example on the [configuration examples page on the wiki](https://github.com/AstunTechnology/Loader/wiki/Configuration-examples) would also be great.

BTW it might take me a while to respond as I'm on holiday at the moment :icecream:

[2018-09-18 09:46] archaeogeek opened #63 "Add license header text to all files in "extras" folder"
Loader. Copyright (c) 2018 Astun Technology Ltd. (http://astuntechnology.com)
Licensed under [MIT License](https://github.com/AstunTechnology/Loader/blob/headers/LICENSE.txt).

[2018-09-26 07:48] walkermatt commented on #63
Just considering if the year is necessary and I think we should drop it.

I never knew that the official purpose of including a year in a copyright statement is to assert when the work was originally released (see [this stackoverflow post](https://stackoverflow.com/a/2391555/526860)).

With that in mind I'd propose we use:

[code]

The git.io URL points to https://github.com/AstunTechnology/Loader

[2018-09-27 20:33] #63 closed

[2019-05-13 10:23] rpaliwoda opened #66 "Attempting to load OSVML from GZ fails with a parsing error on copyright symbol"
I'm attempting to load the latest release (2019/03/20 - though this issue also happens with older data) of OS VML from GZ format. For every file, it fails after loading with 'ERROR 1: XML parsing of GML file failed : not well-formed (invalid token) at line 1, column 681'; in this case, this was where the character © was used in the initial description of the data at the start of every file.

Edit:

[2019-05-13 12:41] walkermatt commented on #66
@coastalrocket have you encountered this issue before? We regularly load national cover of VML.

[2019-05-14 14:14] rpaliwoda commented on #66
I'm also getting similar invalid token errors from the OS MasterMap Highways Road data, though these will be harder to find in the files as they're happening further in. One failed at line 499845, for example.

[2019-05-14 18:27] walkermatt commented on #66
Are you loading official OS supplied data or data from a reseller or 3rd party?

[2019-05-15 07:52] rpaliwoda commented on #66
These are official releases of data supplied directly from the OS; the only other thing that's been done with the files is copying them off the media they arrived on.

[2019-05-15 07:55] walkermatt commented on #66
Could you share a VML gz that's failing with me? We are an OS Partner so licensing shouldn't be an issue. Can you email it to mattwalker at astuntechnology.com and I'll take a look 👍

[2019-06-12 09:52] walkermatt commented on #66
I've just tried loading sample file you provided and it loaded successfully. Can you updating your configuration file to specify `debug=True`, this will avoid the prepared file created by Loader being deleted following the run. Can you then email me the prepared file so I can check it's encoding and content.

[2019-06-12 12:51] walkermatt commented on #66
It looks as though the prepared file created by Loader is in latin1 not UTF-8 which is likely to be the problem. Can you try setting the `PYTHONIOENCODING` environment variable to `utf-8` in the command prompt prior to running Loader. On Windows you'd execute:

    set PYTHONIOENCODING=utf-8

prior to running Loader.

Regardless of whether this works can you please send me the new prepared file as

[2019-06-12 14:58] walkermatt commented on #66
@rpaliwoda good to hear that setting the environment variable seems to of done the trick. I can see from the prepared file that you provide via email that it's now encoded at UTF-8 which is what we're expecting.

The next time I look at making changes to Loader I'll see about ensuring the prepared file is written as UTF-8 by default avoiding the need for the environment variable in future.

[2019-09-30 08:07] xaadim commented on #43
Any latest updates on this? :)

[2020-02-18 10:29] ianturton opened #67 "Loading OS Highways fails on ŷ character"
prep4gml throws an exception inside an exception:

ERROR 1: XML parsing of GML file failed : not well-formed (invalid token) at lin
e 2017529, column 35
Processing: C:\Users\astun-Ian\Documents\data\data\Highways_Rrami_Street_FULL_03
6.gml.gz
Traceback (most recent call last):
  File "prepgml4ogr.py", line 91, in output
    sys.stdout.write(str.encode('utf_8', 'xmlcharrefreplace').decode('utf_8'))

[2020-02-18 12:17] walkermatt commented on #67
@ianturton have you tried the suggestion in this issue: https://github.com/AstunTechnology/Loader/issues/66#issuecomment-501258735 ?

[2020-02-18 13:00] ianturton commented on #67
I haven't - I just commented out the encode/decode and replaced with

     sys.stdout.write(str)

which seems to be working

[2020-02-18 19:45] walkermatt commented on #67
Removing Python 2 support would sure simplify things but it's probably a little too soon?

[2020-02-19 08:48] ianturton commented on #67
That seems to fix the issue

[2020-02-28 12:34] melmorg1 commented on #43
Any update on this please?

[2020-07-01 11:29] alex-summers opened #68 "invalid command \N when updating addressbase premium"
While running the Loader over the Addressbase data using the config provided the loader fails with the error:
"invalid command \N"
I believe this has something to do with SQL not recognising the \N as a null value however attempting to fix it in this way by updating SQL and things has not helped.
Any help with this would be greatly appreciated,
Alex Summers
The Carto Group

[loader_config.txt](htt

[2020-07-01 15:24] walkermatt commented on #68
This stack overflow post might help: https://stackoverflow.com/a/20428547/526860.

Try loading a single file with `debug=True` and your `post_cmd` updated as follows (stop on the first error and avoid deleting the processed file):

[code]
This should allow you to see the real error message and allow you to load the processed file via `psql` manually.

[2020-07-03 09:34] alex-summers commented on #68
Hey, sorry I had an unexpectedly busy day Yesterday and didn't get a chance to run this, I have now run it over a single GML and got this following error.
Is this error to do with the way the table is set up on the database end of things and if so should I allow the loader to create the tables and schema itself.
<img width="932" alt="Screenshot 2020-07-03 at 10 29 10" src="https://user-images.gith

[2020-07-07 21:02] walkermatt commented on #68
There is a sql script to create the tables: https://github.com/AstunTechnology/Loader/blob/master/extras/ordnancesurvey/addressbase/premium/pgdump/create-tables.sql

See the README for more details: https://github.com/AstunTechnology/Loader/tree/master/extras/ordnancesurvey/addressbase/premium/pgdump

[2020-07-16 14:09] dragons8mycat commented on #68
Found that the SQL was incorrectly defined (What would Ian Turton say?!) by changing the term OGC_FID in the CREATE-TABLES.SQL script to a lowercase ogc_fid, it all runs sweetly. This is now running fine.

[2021-04-07 09:55] tomchadwin opened #69 "Running in Docker?"
I'm trying to get this running in Docker. I'm building an image from `osgeo/gdal:ubuntu-small-latest`. Dockerfile:

[code]

I've got Loader and my test data locally, and am mounting them in my `docker run` call:

[code]

However, debug output is:

[code]

How can I debug this further? I think it's a useful approach.

[2021-04-07 11:35] walkermatt commented on #69
I think the issue might be that the working directory needs to be the Loader python directory. Try changing to `/home/data/Loader-master/python/` before running Loader via `python loader.py loader.config`

You can also check to see if the prepared file exists and contains any content.

[2021-04-07 11:48] tomchadwin commented on #69
No joy:

[code]

It's returning `False` here: https://github.com/AstunTechnology/Loader/blob/master/python/loader.py#L137

[2021-04-07 11:56] walkermatt commented on #69
Does the prepared file exist and have you checked it's contents?. You could try running the prep command directly.

[2021-04-07 12:02] tomchadwin commented on #69
I think so:

[code]

`head` attached:
[tmp.zip](https://github.com/AstunTechnology/Loader/files/6271377/tmp.zip)

[2021-04-07 13:28] walkermatt commented on #69
1. Have you tried running the prep command that's printed to the console?
2. The file you've provided looks fine apart from being truncated, is the complete file valid XML?

[2021-04-07 13:37] tomchadwin commented on #69
1. No, but I'll try calling that instead (using this from Windows via `docker run` makes this a tad more complicated.
2. Looks good:
[code]

[2021-04-07 13:41] tomchadwin commented on #69
[code]

[2021-04-07 13:48] tomchadwin commented on #69
For reference, I'm using the AddressBase Premium sample file downloadable here:

https://www.ordnancesurvey.co.uk/business-government/products/addressbase-premium

My `loader.config` is:

[code]

The commented-out `ogr_cmd` was my attempts at loading into my PostGIS cotainer, but I thought I'd simplify for the purposes of testing.

Out of interest, if I remove that `return False`  on L137, I do ge

[2021-04-07 14:15] tomchadwin commented on #69
If I run loader without a `prep_cmd`, I get a load of this:

[code]

[2021-04-07 14:46] tomchadwin commented on #69
So I tried hard-coding the apparently correct prepped file so that the ogr2og code block could run. Same issue as above:

[code]

Any ideas how to investigate further?

[2021-04-07 16:05] tomchadwin commented on #69
Forget the `Warning 1` errors. That was of course because I was doing my tests to convert to SHP which doesn't support `BIGINT`. Now that I've switched it back to PostGIS, it seems to be running. So the issue is definitely that writing the prep_file is erroring out for some reason.

[2021-04-07 18:59] walkermatt commented on #69
I think the next thing I would do is run the `prep_cmd` redirecting it's stdout to a file. Once it's completed you should see any errors in the terminal and you can check the file contents.

[2021-04-08 13:22] tomchadwin commented on #69
Nothing going to stdout - hacked the call as a quick check:

[code]

Output file is blank.

[2021-04-08 13:36] tomchadwin commented on #69
Is the `return_code` check at https://github.com/AstunTechnology/Loader/blob/master/python/loader.py#L136 wrong?

[https://docs.python.org/3/library/subprocess.html]

[2021-04-08 13:51] tomchadwin commented on #69
Urgh.

Total idiocy on my part. Sorry for all the noise.

[2021-04-08 13:51] #69 closed

[2021-04-08 15:46] tomchadwin commented on #69
All well now:

[code]

[2021-12-22 13:22] #67 closed

[2021-12-22 13:26] #66 closed

[2021-12-22 13:27] #68 closed

[2021-12-22 14:41] #62 closed

[2022-06-28 07:26] RobShaw77 opened #70 "Errors when loading Mastermap Topography into SQL Server"
I'm trying to use Astun Loader to import Mastermap Topography into SQL Server. When I run it I get the following output:

[code]

Could anyone advise what may be wrong please?

Thanks
Rob

[2022-06-29 09:12] walkermatt commented on #70
Hi Rob, The warnings can be ignored, we should update Loader to avoid them in future but they shouldn't affect the operation.

I've struggled to find a reasonable explanation for the actual error you're seeing. A couple of things to try one at a time:

* Make sure the current working directory is the `python` folder of your copy of Loader before running Loader (`cd /d "C:\OS Mastermap Topo\AstunLo

[2022-06-30 07:42] RobShaw77 commented on #70
Matt

Thanks for your help. I removed the spaces from the directory names and reinstall python directly. I also modified line 155 in loader.py to add `shell=True` to `subprocess.call(ogr_args, stderr=sys.stderr)`,

It now loads some of the data successfully into SQL Server but it is blanking several of the fields due to the error:

[code]

I've tried adding `-fieldTypeToString StringList` to the o

[2022-06-30 14:15] #70 closed

[2022-06-30 16:26] walkermatt commented on #70
@RobShaw77 fantastic 😋

[2022-07-04 08:51] walkermatt opened #71 "Address Syntax and Deprication Warnings"
As per #70, @RobShaw77 has bumped into a number of Syntax and Deprecation warnings while running Loader on Python 3.10.

Investigate each warning and determine if we can avoid them while still supporting Python 2.7 or whether we should drop support in favour of Python 3.